@import url("./layout/normalize.css");
@import url("./layout/base.css");

@import url("./blocks/header.css");
@import url("./blocks/logo.css");
@import url("./blocks/menu.css");
@import url("./blocks/contacts.css");
@import url("./blocks/maincontent.css");
@import url("./blocks/route.css");
@import url("./blocks/botton.css");
@import url("./blocks/offers.css");
@import url("./blocks/news.css");
@import url("./blocks/pagination.css");
@import url("./blocks/review.css");
@import url("./blocks/footer.css");
@import url("./blocks/socials.css");
@import url("./blocks/top-line.css");
@import url("./blocks/page-title.css");
@import url("./blocks/breadcrums.css");
@import url("./blocks/page-content.css");
@import url("./blocks/inner-section.css");
@import url("./blocks/reviews.css");
@import url("./blocks/seporator.css");
@import url("./blocks/form.css");
@import url("./blocks/welcome.css");
@import url("./blocks/dropdown.css");




















