html,
body {
  height: 100%;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.42;
  background: #001821;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wrapper {
  overflow: hidden;
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.wrapper__content {
  flex: 1;
}
.wrapper__conten--header {
  background: url(../../img/hero.png) center top no-repeat,
    url(../../img/bootom.png) center bottom no-repeat;
}

.container {
  max-width: 1141px;
  display: flex;
  margin: 0 auto;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}
