.button{
	display: flex;
    background: #ffffff;
	border-radius: 35px;
	width: 135px;
	height: 55px;
	align-items: center;
	justify-content: center;
    font-weight: bold;
	color: #f5170e;
	text-transform: uppercase;
	text-decoration: none;
	border: 2px solid #f5170e;
	cursor: pointer;
  }

  .button__detail{
    background: #ffffff;
	border-radius: 35px;
	width: 168px;
	height: 55px;
	align-items: center;
	justify-content: center;
    font-weight: bold;
	color: #f5170e;
	text-transform: uppercase;
	text-decoration: none;
	border: 2px solid #f5170e;
	cursor: pointer;

  }
  
  .button:hover {
	color: #ffffff;
	background: #f5170e;
  }

  .button__detail--color--black{
	background: #8E8E8E;
	color: #FFFFFF;

	border: none;
}

.button__detail--color--black:hover{
	background: #2B2B2B;
	border: none;
}

.button__detail--color--black:focus{
	outline: none;
}
.button__detail--color--red{
	background: #F5170E;
	color: #FFFFFF;

	border: none;
}

.button__detail--color--red:hover{
	background: #F5170E;
	border: none;

}

.button__detail--color--red:focus{
	outline: none;
	

}
