.button{
	display: flex;
    background: #ffffff;
	border-radius: 35px;
	width: 135px;
	height: 55px;
	align-items: center;
	justify-content: center;
    font-weight: bold;
	color: #f5170e;
	text-transform: uppercase;
	text-decoration: none;
	border: 2px solid #f5170e;
	cursor: pointer;
  }

  .button__detail{
    background: #ffffff;
	border-radius: 35px;
	width: 168px;
	height: 55px;
	align-items: center;
	justify-content: center;
    font-weight: bold;
	color: #f5170e;
	text-transform: uppercase;
	text-decoration: none;
	border: 2px solid #f5170e;
	cursor: pointer;

  }
  
  .button:hover {
	color: #ffffff;
	background: #f5170e;
  }