.dropdown {
	
	position: relative;

	
  }
  .dropdown:hover .dropdown__menu{
	  left: 0;
	 
  }
.dropdown__menu{
	position: absolute;
	bottom: 0;
	right: 0;
	background: #EDEDED;
	width: 160px;
	height: 80px;
	text-align: center;
	top: 100%;
	border-radius: 9px;
	

}
.dropdown__item{
	font-size: 13px;
	font-weight: 700;
	color: #1E1F20;
	line-height: 21px;
}

.dropdown__item-break{
	font-size: 13px;
	font-weight: 600;
	color: #1E1F20;
	line-height: 21px;
}