.form__row{
	display: flex;
	margin-bottom: 30px;
}

.form__imput{
	flex: 1;
	margin-right: 30px;
	border-radius: 4px;
	border: none;
	background: #FFFFFF;
	padding: 22px 30px;
	font-size: 18px;
	color: #1A1B1E;
}

.form__imput:focus{
	border: none;
}

.form__imput::placeholder{
	color: #666;
}

.form__imput:last-child{
	margin-right: 0px;
}

.form__input--textarea{
	flex: 1;
	height: 235px;
	padding-left: 30px;
	padding-top: 29px;
}

.form__controls{
	display: flex;
    margin-bottom: 32px;
}

.form__controls-title{
color: #1A1B1E;
width: 366px;

}

.controls{
	flex: 1;
	display: flex;
	flex-wrap: wrap;
}

.controls__item{
	margin-bottom: 10px;
	margin-right: 10px;
}
.controls__ilem{
	cursor: pointer;
}

.controls__checkbox:checked ~ .controls__tag{
	background: #B9EAE4;
}

.controls__checkbox{
	display: none;
}