.page-content{
	background: #FFFFFF;
	padding-top: 98px;
	
}

.container__page-content{
	display: flex;
	flex-direction: column;
}

.services{
	display: flex;
	flex-direction: column;
}

.service__img{
	width: 30%;
	margin-right: 7%;
	margin-right: 56px;
}

.service__content{
	flex: 1;
	min-height: 333px;
}
.service__title{
	font-size: 36px;
	font-weight: 700;
	line-height: 49.03px;
    color: #000000;
    margin-bottom: 28.5px;
}

.service__text{
	font-size:16px;
	font-weight: 400;
	color: #303030;
	line-height: 27px;

}
.service__img{
	width: 460px;
	height: 333px;
}

.services__item-service{
	margin-bottom: 50px;
	display: flex;
}