.social__list {
    display: flex;
	align-items: flex-end;
	width: 174px;
	height: 36px;
	margin-left: 274px;
	margin-right: auto;
	
}
  
.social__item--t{
	width: 36px;
	height: 36px;
	background-color: #ccc;
	padding: 10px;
	border-radius: 50%;
	position: relative;
	margin-right: 10px;
}

.social__item--t:hover::before{
	opacity: 1;
}

.social__item--t:hover::after{
	opacity: 0;
}
 
.social__item--t::after{
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 36px;
	 height: 36px;
    background: url('../../img/icon/css_sprites\ \(4\).png') -10px -10px;
	transition: .3s;
}

.social__item--t::before{
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 36px;
	 height: 36px;
    background: url('../../img/icon/css_sprites\ \(4\).png') -66px -10px;
	opacity: 0;
    transition: .33;
}

.social__item--t:hover:after{
background-position: -10px -10px;
}

.social__item--vk{
	width: 36px;
	height: 36px;
	background-color: #ccc;
	padding: 10px;
	border-radius: 50%;
	position: relative;
	margin-right: 10px;
}

.social__item--vk:hover::before{
	opacity: 1;
}

.social__item--vk:hover::after{
	opacity: 0;
}
 
.social__item--vk::after{
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 36px;
	 height: 36px;
    background: url('../../img/icon/css_sprites\ \(4\).png') -10px -66px;
	transition: .3s;
}

.social__item--vk::before{
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 36px;
	 height: 36px;
    background: url('../../img/icon/css_sprites\ \(4\).png') -66px -66px;
	opacity: 0;
    transition: .3s;
}

.social__item--vk:hover:after{
background-position: -10px -66px;
}

.social__item--f{
	width: 36px;
	height: 36px;
	background-color: #ccc;
	padding: 10px;
	border-radius: 50%;
	position: relative;
	margin-right: 10px;
}

.social__item--f:hover::before{
	opacity: 1;
}

.social__item--f:hover::after{
	opacity: 0;
}
 
.social__item--f::after{
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 36px;
	 height: 36px;
    background: url('../../img/icon/css_sprites\ \(4\).png') -122px -10px;
	transition: .3s;
}

.social__item--f::before{
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 36px;
	 height: 36px;
    background: url('../../img/icon/css_sprites\ \(4\).png') -122px -66px;
	opacity: 0;
    transition: .33;
}

.social__item--f:hover:after{
background-position: -122px -10px;
}

.social__item--insta{
	width: 36px;
	height: 36px;
	background-color: #ccc;
	padding: 10px;
	border-radius: 50%;
	position: relative;
	margin-right: 10px;
}

.social__item--insta:hover::before{
	opacity: 1;
}

.social__item--insta:hover::after{
	opacity: 0;
}
 
.social__item--insta::after{
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 36px;
	 height: 36px;
    background: url('../../img/icon/css_sprites\ \(4\).png') -10px -122px;
	transition: .3s;
}

.social__item--insta::before{
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 36px;
	 height: 36px;
    background: url('../../img/icon/css_sprites\ \(4\).png') -66px -122px;
	opacity: 0;
    transition: .33;
}

.social__item--insta:hover:after{
background-position: -10px -122px;
}